body {
  background-image: url('img/background.png');
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    color: red;
    text-shadow: 2px 2px #555;
}

.sw{
    margin-left: 20px;
    margin-top: -60px;
}

.light{
    margin-left: 45%;
}